html

body
  color: #FDFFF2
  min-height: 771px
h2
  color: #FDFFF2
form#new_user
  padding-bottom: 74px !important
  div
    width: 245px
form#new_user
  background: #000
  width: 312px
  padding: 32px 26px
  min-height: 133px
  margin-bottom: 3px
  label
    font-family: "desyrel"
    color: #666
    @include rotate(-3deg)
    font-size: 18px
  input
    &[type="email"]
      @include rotate(-5deg)
      margin-top: -10px
    &[type="password"]
      @include rotate(-1deg)
      margin-top: -3px
      margin-left: -10px
    &[type="text"]
      @include rotate(2deg)
      margin-top: -3px
      margin-left: -10px
  input
    &[type="email"],
    &[type="password"],
    &[type="text"]
      border: 1px solid #999
      font-family: "desyrel"
      background: rgb(86, 255, 100)
      font-size: 15px
      padding: 9px 16px
      color: #333
      width: 207px
      border-top: none
      border-left: none
      border-right: none
      box-shadow: none
      border-radius: 0px
      border-bottom: dashed
    &[type="checkbox"]
      float: left
      padding-top: 17px
      margin-top: 11px
      margin-right: 2px
      margin-left: 60px
    &[type="submit"]
      background: url("/assets/mark-inv.png")transparent no-repeat
      border: none
      width: 104px
      background-position-y: 1px
      height: 37px
      font-family: "desyrel"
      color: #666
      float: right
      margin-right: 30px
      margin-top: 13px
      &:hover
        background: url("/assets/mark-hover-inv.png")transparent no-repeat
        background-position-y: 1px
  #user_password_confirmation
    @include rotate(-1deg)
    margin-top: -4px
    margin-left: -4px


#champi_background
  width: 100%
  height: 100%
  position: fixed
  text-align: left
  background: black url('/assets/background_body_decoration.png') repeat-x left bottom
  z-index: -1
  img 
    height: 100%

#champi_animation
  height: 100px
  padding-top: 30px
  overflow: show
  text-align: center
  span
    font-family: "desyrel"
    font-size: 4em
    font-weight: bolder

  img
    margin: 0px 20px


textarea.song_comment
  width: 350px
  height: 120px

div.comment 
  margin-left: 210px
  margin-bottom: 20px
  div.author
    float: left
    padding-top: 5px
    margin-right: 10px
  
  div.body
    padding-left: 20px
    background: transparent url('/assets/background_comments.png') no-repeat 0px 5px
    float: left
    div.body_wrapper
      width: 400px
      color: black
      padding: 8px
      background-color: white
  
div.clear
  clear: both

header
  h1
    font-family: "BlackCasper"
    font-size: 144px
    text-align: center
    line-height: 199px
    text-shadow: 16px 40px 14px #000

.participants
  .label-success
    a
      color: $white
.participate
  float: right

.label
  padding: 2px 7px
  margin-left: 4px
  font-size: 18px
  line-height: 27px
.songs
  background: $black
  padding: 39px
  header
    margin-bottom: 32px
    h2
      font-family: "desyrel"
      width:  400px
      display: inline
      margin-top: -8px
      font-size: 43px
    a
      display: inline-block
      float: right
      background: url("/assets/add-song.png")transparent no-repeat
      width: 87px
      height: 113px
      margin-top: -74px
      @include transition (background .5s) 
      &:hover
        background: url("/assets/add-song-hover.png")transparent no-repeat
  ul
    margin-left: 0px
  li
    border-bottom: 1px solid #06290A
    list-style: none
    color: #fff
    clear: both
    margin-top: 6px
    padding-bottom: 8px
    &:hover
      .erase
        @include opacity(100)
        color: $red
        text-decoration: none
      .title
        text-decoration: none
        color: #FDFFF2 !important
        @include opacity(100)
    &:first-child
      border-top: 1px solid #06290A
      padding-top: 6px

    h4
      vertical-align: middle
      line-height: 10px
      margin-left: 0px
      .erase
        @include opacity(0)
        margin-right: 13px
      .cannot-erase
        margin-right: 30px
      
          

.dropdown-menu
  margin-left: -58px
  li
    a 
      &:hover
        background-color: #56FF64
        background-image: none
        color: #555 
  .active
    background-color: #56FF64
    a  
      background-image: none
      background-color: transparent
      color: #555
      &:hover
        background-color: #000
        background-image: none
        color: #fff
.btn-succes
  background-color: #5BB65B
  background-image: linear-gradient(to bottom, #62C462, #62C462)
  @include transition (background .5s)
  &:hover
    background-color: #5BB65B
.label-success
  background-color: #5BB65B
.modal
  background: url("/assets/modal-note.png")transparent no-repeat
  
.modal-header
  margin-top: 25px
  margin-left: 76px
  border-bottom: none
  color: #333
  font-family: "desyrel"
  .close
    line-height: 32px
    font-size: 45px
.modal-body
  margin: -13px 0 0 104px
  padding: 3px 0 5px
  @include rotate(-2deg)
  label
    font-family: "desyrel"
    color: #666
    @include rotate(-3deg)
    font-size: 16px
    padding-bottom: 7px
  input
    &[type="text"]
      border: 1px solid #999
      font-family: "desyrel"
      background: rgba(86, 255, 100, .3)
      font-size: 23px
      padding: 9px 16px
      color: #333
      width: 332px
      border-top: none
      border-left: none
      border-right: none
      box-shadow: none
      border-radius: 0px
      border-bottom: dashed

.modal-footer
  border-top: none
  box-shadow: none
  padding-top: 0px
  background: transparent
  input
    background: url("/assets/mark.png")transparent no-repeat
    border: none
    width: 104px
    background-position-y: 1px
    height: 37px
    font-family: "desyrel"
    &:hover
      background: url("/assets/mark-hover.png")transparent no-repeat
      background-position-y: 1px

.tooltip
  font-size: 16px
  font-family: "desyrel"
  @include rotate(-4deg)
  padding: 8px

footer
  width: 1000px
  margin: 10px auto 0
  padding: 13px 0 0 16px
  height: 35px
  background: $black
  font-size: 14.5px
  span
    color: #5BB65B
  span.light
    color: green
