/************* typography*******/

@font-face{
  font-family:"BlackCasper";
  src: url(dr-tapi-party/fonts/BlackCasper.ttf) format('truetype');
}

@font-face{
  font-family:"GiveyouGlory";
  src: url(dr-tapi-party/fonts/GiveYouGlory.ttf) format('truetype');
}