/************* typography*******/

@font-face{
  font-family:"BlackCasper";
  src: url(fonts/BlackCasper.ttf) format('truetype');
}

@font-face{
  font-family:"desyrel";
  src: url(fonts/desyrel.ttf) format('truetype');
}